.cajaPanelControlMapa{
    position: absolute;
    top: 50%; 
    left: 10px; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-top: 6px;
    padding-bottom: 6px;
    .panelIconos{
        display: flex;
        flex-direction: column; 
        border: 1px solid rgb(233, 231, 231);
        .iconos{
            width: 35px;
            margin-top: 3px;
            border: solid 1px rgb(233, 231, 231);
        }

    }
    


}